@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inconsolata", monospace;
}

*::-webkit-scrollbar {
	margin-left: 2px;
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: #000000;
}

*::-webkit-scrollbar-thumb {
	background: #888;
}

*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.has-tooltip:hover > .tooltip {
	@apply visible z-50;
}

.playlist-name {
	font-family: "Bebas Neue", sans-serif;
}

textarea:focus,
input:focus {
	outline: none;
}

@keyframes TextSlider {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translate(-100%);
	}
}

.overflown-title:hover {
	animation-name: TextSlider;
	animation-duration: 20s;
	animation-delay: 0s;
	animation-timing-function: linear;
}

@keyframes PiscaPisca {
	0%,
	100% {
		border-color: red;
	}
	10% {
		border-color: orange;
	}
	20% {
		border-color: yellow;
	}
	30% {
		border-color: green;
	}
	40% {
		border-color: blue;
	}
	50% {
		border-color: indigo;
	}
	60% {
		border-color: violet;
	}
	70% {
		border-color: purple;
	}
	80% {
		border-color: pink;
	}
	90% {
		border-color: brown;
	}
}

.rainbow {
	animation-name: PiscaPisca;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
